

body{
    background-color: rgb(94, 94, 94);
    text-align: center;
}


/* ALL OF THIS IS FOR THE TITLE BAR*/

.container::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    background-color: rgb(7, 114, 255);
    border: 2px solid black;
    padding: 5px;

    display: none;
}

.menupic{
    float: left;
    font-size: xx-large;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.menulist{
    float: right;
    list-style: none;
}

.menulist li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 8px;
    margin-right: 20px;

    position: relative;
}

.menulist a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menulist a:hover{
    color: white;
}

.menulist a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0px;
    width: 0%;

    transition: all ease-in-out 380ms;
}

.menulist a:hover::before{
    width: 100%;
}

/* NOW FOR WEBSITE */

h1::after {
    content: '';
    display: block;
    background: black;
    height: 4px;
    width: 80%;
    margin-left: 10%;
}

img {
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.entry {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color:  rgb(7, 114, 255);
    width: 300px;
}

.history {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color:  rgb(7, 114, 255);
    width: 500px;
}

.textbox {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color:  rgb(7, 114, 255);
}

.textbox p a {
    text-decoration: none;
    color: red;
    transition: all ease 300ms;
}

.textbox p a:hover {
    color:white;
    font-weight: 300;
    background-color: blue;
    border: 4px solid black;
    border-radius: 5px;
    padding: 6px;
}

.link {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color:  rgb(7, 114, 255);
}

.link a{
    padding: 4px;
    text-decoration: none;
    color: white;
    border: 2px dashed white;
    background-color: gray;
    transition: all ease-in-out 450ms;
}

.link a:hover{
    background-color: black;
    border: 5px groove yellow;
    border-radius: 10px;
}

.textbox2 {
    background-color: rgb(158, 157, 157); 
    width: 80%; 
    margin: auto; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    border: 4px groove white;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}

.test {
    width:500px;
}

.mealtable th{
    width: 700px;
    text-decoration: underline;
}

.mealtable td {
    margin: 10px;
    border: 5px groove white;
    background-color: rgb(165, 165, 165);
}

.map {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding: 25px;
    background-color: rgb(136, 177, 42);
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.map img{
    transition: ease-out 500ms;
}


.map img:hover {
    opacity: 70%;
    background-color: white;
    border-radius: 100px;
    border: 8px double blue;
}


.coffeebox {
    border: 50px solid transparent;
    padding: 15px;
    border-image: url(../images/beans.jpg) 100 round;
    margin: 15px;
}

.gone {
    display: none;
}

/* To make it for all devices */

@media only screen and (min-width: 768px) {
    .gone {
        display: block;
    }

    .container {
        display: block;
    }
}

